
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #fbfbfb;
}

.wrapper {
  width: 96%;
  margin: 0px;
  font-size: 14px;
  background-color: #fff;
  border: 1px solid #f1f1f1;
  padding: 10px;
  float: right;
  background-color: rgb(216, 241, 235);
 
}

/* 评论框样式 */
.comment-input {
  background-color: #fff;
  border: 1px solid #f1f1f1;
  padding: 20px;
  margin-bottom: 10px;
}

.comment-field {
  margin-bottom: 15px;
  display: flex;
}

.comment-field .comment-field-name {
  display: flex;
  flex-basis: 100px;
  font-size: 14px;
}

.comment-field .comment-field-input {
  display: flex;
  flex: 1;
}

.comment-field-input input,
.comment-field-input textarea {
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  padding: 5px;
  outline: none;
  font-size: 14px;
  resize: none;
  flex: 1;
}

.comment-field-input textarea {
  height: 100px;
}

.comment-field-button {
  display: flex;
  justify-content: flex-end;
}

.comment-field-button button {
  padding: 5px 10px;
  width: 80px;
  border: none;
  border-radius: 3px;
  background-color: #00a3cf;
  color: #fff;
  outline: none;
  cursor: pointer;
}

.comment-field-button button:active {
  background: #13c1f1;
}

/* 评论列表样式 */
.comment-list {
  background-color: rgba(255, 255, 255, 0.281);
  border: 1px solid #f1f1f1;
  padding: 20px;
}

/* 评论组件样式 */
.comment {
  position: relative;
  display: flex;
  border-bottom: 1px solid #f1f1f1;
  margin-bottom: 10px;
  padding-bottom: 10px;
  min-height: 50px;
}

.comment .comment-user {
  flex-shrink: 0;
}

.comment-username {
  color: #00a3cf;
  font-style: italic;
}

.comment-createdtime {
  padding-right: 5px;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 5px;
  font-size: 12px;
}

.comment:hover .comment-delete {
  color: #00a3cf;
}

.comment-delete {
  position: absolute;
  right: 0;
  top: 0;
  color: transparent;
  font-size: 12px;
  cursor: pointer;
}

.comment p {
  margin: 0;
  /*text-indent: 2em;*/
}

code {
  border: 1px solid #ccc;
  background: #f9f9f9;
  padding: 0px 2px;
}

.header-container .logo {
  width: 100%;
  height: 31px;
  background: rgba(127, 181, 255,.2);  
  margin: 16px 28px 16px 0;
  float: left;
}
.header-container .nav-auth {
  float: right;
  right: 10px;
} 

.user-info {
  flex-direction: row-reverse;
  margin-top: 12px;
}
.user-info .user-avatar {
  border-radius: 50%;
}
.user-logout {
  padding: 20px;
}

.header-container .ant-menu-horizontal {
  height: 64px;
  line-height: 64px;
  display: flex;
  justify-content: space-around;
  border-bottom: none;
}


.ant-dropdown-menu-item a i {
  padding-right: 5px;
}

.ant-layout-header {
  background: rgb(255, 255, 255);
}

.post-about{
  background-color:rgb(213, 223, 220);
  height: 700px;
  padding-top: 30px
  
}

.post-about-list{
  background-color:rgb(213, 223, 220);
  height: 1000px;
  padding-top: 20px
}
.content-list{
  height: 800px;
  overflow:auto;
}
.avatar{
  float: left;
  padding-left: 0px;
  border-radius:5px;
  margin-top: 20ox;
}
.avatar-div{
  width:100px; 
  height:100px;
   border-radius:50%;
    overflow:hidden;
    padding-left: 0px;
    margin-top: 20px;
    margin-left: 65px;
}
span{
 padding-left: 20px;
  align-content: center;
}

p{
  text-align:left;
  text-indent:50px;
  line-height:22px
}
h3{
  text-align:center;
}

.mt20{
  text-align: center;
}
li{
  float: right;
}

.left-nav{
  height: 100%;
  width: 50px;
  background-color: #030d0fa2;
  float: left;
}

form {
  width: 500px;
  position: relative;
  left: 300px;
  top: 150px;

}

#login{
  background-color: #13c1f1;
  width: 100%;
  height: 850px;
  padding-top: 0px;
}
.register-class{
  padding-left: 400px;
}

.left-nav-comment {
  background-color: #030d0fa2;
  height: 600px;
  width: 50px;
  float: left;
}

.list-button{
  width: 100%;
  height: 50px;
  background-color: #030d0fa2;
  margin-top: 80px;
}
.list-button-left{
  background-color: #0c0f0fa2;
  height: 200px;
  width: 50px;
  float: left;
}

img{
  padding-left: 300px;
}

.leftlogo{
  background-image: url('./static/left-logo.jpg');
  width: 250px;
  height: 100%;
  float: left;
}